## Natural Language Processing with Disaster Tweets

### Step 1: Import necessary libraries

In [55]:
import pandas as pd
import nltk
import re

### Step 2: Load and mport the Dataset

In [48]:
data = pd.read_csv('./data/train.csv')
data.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

### Step 3: Dataset Overview

In [50]:
data.shape

(7613, 5)

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [52]:
data.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

### Step 4 : Preprocessing

**Data Cleaning Steps**

a. Remove newlines and Tabs

b. Remove Punctuation/ Unicode characters/ Special Characters

c. Hashtag removes

d. Tokenization









e. Stop words

f. Remove URLs

g. Remove HTML tags

h. Repeated characters reduction, for example: Hellllo → Hello

i. Remove capitalization/ Case normalization

j. Remove Whitespaces, for instance, He llo → Hello

k. Typo Correction/ Misspelled words: big “dada” → big “data”

l. Stemming or lemmatization

### Step 5: Detemine the Featurea & Target Variable

### Step 6: Split the DataSet to Train & Test

### Step 7: Train the Model using the X_train and y_train

### Step 8: Predicting Test Data

### Step 9: Evaluating the Model

### Model fitting with K-cross Validation and GridSearchCV